body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  
}
.container {
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  grid-template-rows: repeat(5, 5fr);
  grid-template-areas: 
  "gamebox gamebox gamebox minigamebox"
  "gamebox gamebox gamebox minigamebox"
  "gamebox gamebox gamebox score"
  "gamebox gamebox gamebox button"
  "controls controls controls controls";
  
  
  
}


.grid {
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3; */
  grid-area: gamebox;

  /* width: 90%;
  height: 70%; */
  /* width: 200px; 
  height: 400px; */
  /* display: flex;
  flex-wrap: wrap; */
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border: 2px solid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  
}

/* .grid div {
    height: 18px;
    width: 18px;
    border: 1px rgba(134, 12, 114, 0.418) dotted;
} */

.grid div {
 
  border: 1px rgba(134, 12, 114, 0.418) dotted;
}


 .startingCube {
  display: none;
}


.tetromino {
  background-color: blue;
  box-shadow: 2px 2px 8px black;
  border-radius: 5px;
  opacity: 0.7;
}

.mini-grid {

  grid-area: minigamebox;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border: 2px solid;
  
}

.mini-grid div {
 
}


  
  /* CSS */
  .button-49,
  .button-49:after {
    width: 95%;
    height: 100%;
    
    font-size: 10px;
    font-family: monospace;
    background: linear-gradient(45deg, transparent 5%, #acaaac9c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'ALTERNATE TEXT';
    
    
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  .button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  
  


#start-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

h3 {
  font-family: monospace;
  font-size: 30px;
}
.controls {
  grid-area: controls;
  display: flex;
  justify-content: space-between;
  border: 2px black solid;
  padding: 3px;
  
  font-family: monospace;
  font-size: 14px; /*22px*/
  /* width: 200px; 
  height: 50px;  */
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
 
}
.controls button {
  background:rgba(170, 44, 187, 0.685);
  width: 18%;
  padding: 2px;
  border: 2px solid black;
  font-size: 24px;
  box-shadow: 4px 4px rgb(134, 231, 255)
}
.controls button:hover {
  background: rgba(119, 2, 134, 0.685);
  
}

.controls button:active {
  transform: translate(4px);
  box-shadow: 0 1px rgb(211, 250, 255);
}

.controls h4 {
  text-align: center;
  color:aqua;
  font-size: 17px;
}

h1 {
  text-align: center;
  font-family: monospace;
  color: wheat;
  box-shadow: 0px 10px 8px black;
  border-radius: 5px;
  text-shadow: 0px 4px black;
  opacity: 0.7;
}

.directions {
  /* width: 80%;
  font-size: 10px; */
}

h2 {
  font-family: monospace;
  text-align: center;
}
.score-div {
  
  grid-area: score;
 
  
  
}
.score-div p {
  font-family: monospace;
  font-size: 100%;
  text-align: center;
  
 
}

.button-div {
  /* width: 70px;
  height: 50px;
   */
  grid-area: button;
}
.game-title p{
  font-family: monospace;

}